<div>
    <h2>
        <span jhiTranslate="mspApp.appGroup.home.title">App Groups</span>
        <button class="btn btn-primary float-right jh-create-entity create-app-group" [routerLink]="['/', { outlets: { popup: ['app-group-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mspApp.appGroup.home.createLabel">
            Create new App Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mspApp.appGroup.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="appGroups">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="mspApp.appGroup.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sort"><span jhiTranslate="mspApp.appGroup.sort">Sort</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="icon1"><span jhiTranslate="mspApp.appGroup.icon1">Icon 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="icon2"><span jhiTranslate="mspApp.appGroup.icon2">Icon 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="icon3"><span jhiTranslate="mspApp.appGroup.icon3">Icon 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def1"><span jhiTranslate="mspApp.appGroup.def1">Def 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def2"><span jhiTranslate="mspApp.appGroup.def2">Def 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def3"><span jhiTranslate="mspApp.appGroup.def3">Def 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def4"><span jhiTranslate="mspApp.appGroup.def4">Def 4</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def5"><span jhiTranslate="mspApp.appGroup.def5">Def 5</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def6"><span jhiTranslate="mspApp.appGroup.def6">Def 6</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def7"><span jhiTranslate="mspApp.appGroup.def7">Def 7</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def8"><span jhiTranslate="mspApp.appGroup.def8">Def 8</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="def9"><span jhiTranslate="mspApp.appGroup.def9">Def 9</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentId"><span jhiTranslate="mspApp.appGroup.parent">Parent</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appGroup of appGroups ;trackBy: trackId">
                <td><a [routerLink]="['../app-group', appGroup.id ]">{{appGroup.id}}</a></td>
                <td>{{appGroup.name}}</td>
                <td>{{appGroup.sort}}</td>
                <td>{{appGroup.icon1}}</td>
                <td>{{appGroup.icon2}}</td>
                <td>{{appGroup.icon3}}</td>
                <td>{{appGroup.def1}}</td>
                <td>{{appGroup.def2}}</td>
                <td>{{appGroup.def3}}</td>
                <td>{{appGroup.def4}}</td>
                <td>{{appGroup.def5}}</td>
                <td>{{appGroup.def6}}</td>
                <td>{{appGroup.def7}}</td>
                <td>{{appGroup.def8}}</td>
                <td>{{appGroup.def9}}</td>
                <td>
                    <div *ngIf="appGroup.parentId">
                        <a [routerLink]="['../app-group', appGroup.parentId  ]" >{{appGroup.parentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../app-group', appGroup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'app-group/'+ appGroup.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'app-group/'+ appGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="appGroups && appGroups.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
